@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"); /*latoo font family */
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", serif;
}
p {
  color: rgb(179 179 179 / 60%);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.btn {
  border-radius: 8px;
  background: #e55473;
  padding: 15px 25px;
  font-size: 20px;
  border: none;
  color: #fff;
}
.section_heading {
  max-width: 500px;
  text-align: center;
  margin: 20px auto;
}
.section_heading h3 {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 20px;
}
header,
#hot_deal {
  background-color: rgba(229, 84, 115, 0.1);
}
.container {
  width: 75%;
  max-width: 1440px;
  margin: 0 auto;
}
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner .banner-text * {
  margin-bottom: 35px;
  max-width: 525px;
}
.banner .banner-text h1 {
  color: #272727;
  font-size: 60px;
  font-weight: 800;
}
.banner .banner-img img {
  width: 100%;
  vertical-align: middle;
}
#featured {
  padding: 100px 0;
}
.section_content {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 20px;
}
.section_content .flower .flower_img {
  border-radius: 300px 300px 0 0;
  height: 400px;
  padding: 30px 25px 0;
  display: flex;
  align-items: end;
}
.section_content .flower .flower_img img {
  width: 100%;
}
.pink .flower_img {
  background: rgba(167, 33, 98, 0.15);
}
.blue .flower_img {
  background: rgba(5, 151, 160, 0.15);
}
.pith .flower_img {
  background: rgba(71, 125, 17, 0.15);
}
.section_content .flower p {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-top: 20px;
}
#featured_section {
  padding-bottom: 50px;
}
.gretings_secton {
  display: flex;
  /* justify-content: space-around; */
  justify-content: space-evenly;
  padding: 50px 30px;
  background: rgba(39, 39, 39, 0.05);
}
.gretings_secton .greatings .greatings_img {
  text-align: center;
}
.gretings_secton .greatings_img > img {
  width: 50px;
}
.gretings_secton p {
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}
section#hot_deal {
  padding: 50px 0;
}
.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.hot_deal_text {
  text-align: center;
  max-width: 50%;
}
.hot_deal_text h2 {
  color: #272727;
  font-family: Lato;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.hot_deal_text span {
  color: #e55473;
  font-family: Lato;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.hot_deal_text p {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin: 20px 0;
}
.hot_deal_img img {
  width: 200px;
}
.hot_deal_button {
  color: #fff;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 8px;
  background: #e55473;
}
.social_image {
  justify-content: space-around !important;
  gap: 20px;
}
.social_image .social_flower_img img {
  width: 200px;
}
#newsletter {
  margin: 128px 0;
}
.newsletter_main {
  background-image: url("./images/Rectangle\ 9.png");
  padding: 100px 0;
}
.newsletter_main form {
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  gap: 10px;
}
.newsletter_main form input {
  flex-grow: 1;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 10px 30px;
}
#final_part {
  background: #111010;
  padding: 30px 0;
}
#final_part .final_text {
  color: #e55473;
  font-family: Lato;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
#final_part .final_text .color {
  color: #fff;
  font-family: Lato;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
#final_part .final_discription {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  width: 590px;
  padding: 15px 0px;
  margin: 0 auto;
}
#final_part > p {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
